<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
      targetID="#CompilationUnitEditorContext"
      id="popMenutEditorContext">
      <!--<objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="KanaToTranselation.contribution1">-->
         <menu
               icon="icon/urano16.png"
               id="KanaToTranselation.menu1"
               label="KanaTo..."
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="kanatotranselation.popup.actions.KanaToHepburn"
               id="KanaToTranselation.newAction"
               label="Kana to Hepburn"
               menubarPath="KanaToTranselation.menu1/group1">
         <selection
           class="org.eclipse.jface.text.ITextSelection">
         </selection>
         </action>
      <!--</objectContribution>-->
      </viewerContribution>
   </extension>

</plugin>
