<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
   id="org.uranoplums.eclipse.plugins"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName">
   <runtime>
     <library name="lib/commons-lang-2.6.jar">
       <export name="*"/>
     </library>
     <library name="lib/commons-collections-3.2.1.jar">
       <export name="*"/>
     </library>
     <library name="lib/commons-beanutils-1.7.0.jar">
       <export name="*"/>
     </library>
     <library name="lib/commons-codec-1.9.jar">
       <export name="*"/>
     </library>
     <library name="lib/struts-1.2.9.jar">
       <export name="*"/>
     </library>
     <library name="lib/kuromoji-0.7.7.jar">
       <export name="*"/>
     </library>
     <library name="lib/uranoplums-1.0.0.jar">
       <export name="*"/>
     </library>
   </runtime>
</plugin>
